
.carousel-window-auth {
    width: 564px;
    height: 600px;
    margin: auto;
    display: flex;
    position: relative;

    /* align-items: center;  */

    border-radius: 24px;
    overflow: hidden;
    background-color: white;
  }
  
  .carousel-window-auth.mobile {
    height: 90vh;
  }
  
  .carousel-window-auth.mobileNarrow {
    width: 100vw;
    height: 100vh;
    border-radius: none;
  }

/* auth modal image */
.auth-modal-imgDiv {
    margin-left: 24px;
    height: 600px;
    width: 454px;
    position: relative;
}

.auth-modal-imgDiv .imgDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    transition-delay: 0.6s; 
    transition-duration: 1.6s; 
}
.imgDiv[data-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition-duration: 0s;
}
.imgDiv[data-hidden="true"] {
    transition-delay: 2.2s;
    transition-duration: 0s;
    visibility: hidden;
    opacity: 0;
}
.imgDiv[data-fadeout="true"] {
    visibility: hidden;
    opacity: 0;
}

.auth-modal-img {
    height: 100%;
    border-radius: 12px;
    width: 454px;
    object-position: center;
    object-fit: cover;
}

.auth-modal-imgDiv .caption {
    position: absolute;
    left: 16px;
    bottom: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    color: white;
    padding: 8px 16px;
    font-family: 'Plus Jakarta Sans';
    display: flex;
    justify-content: center;
    gap: 8px;
}



/* auth modal content */
.register-email-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}
.warning-signal {
    color: red;
}
.register-email-box[data-warning="true"] .warning-signal {
    display: block;
}
.register-email-box[data-warning="false"] .warning-signal {
    visibility: hidden;
}

.register-email-box[data-warning="true"] input {
    border-color: red;
}

/* sign in */
[data-warning="true"] .input-model {
    border: 2px solid red;
}




/* final steps */
.user-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.name-inputs {
    display: flex;
    gap: 8px;
    width: 380px;
    width: 100%;
} 

.line-indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
}
.line-indicators .indicator {
    width: 48px;
    height: 8px;
    border-radius: 4px;
    background-color: gainsboro;
    transition: 0.2s;
    cursor: pointer;
}
.line-indicators .indicator.active {
    background-color: var(--deepblue); 
}



.create-username-box .title-section {
    margin: 48px 0px 0px 0px; 
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.survey-box .title-section {
    margin: 12px 0px 0px 0px; 
}

.survey-box .preference-cards {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
}