.create-password {
    width: 564px;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    position: relative;
}

.create-password .title-section {
    margin: 32px 0px;
}

.create-password.mobile {
    width: 95vw;
    /* height: 90vh; */
    /* height: 100%; */
    padding: 12px 24px;
    /* background-color: red; */
  }