.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.truncated-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



/* placeToConfirm (PTC) card styles */

.placeToConfirmCardDiv {
    z-index: 2;
    bottom: 16px;
    left: 5%;
    right: 5%;
    transition: 0.3s;
    opacity: 0;
    width: 90%;
    /* background-color: #0F0680; */
}

.placeToConfirmCardDiv.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
}

.placeToConfirmCardDiv.show {
    opacity: 1;
    visibility: visible;
}

.placeCard-PTC .body {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 12px 16px;
}
.placeToConfirmCardDiv::before {
    content: "";
    width: 48px;
    height: 34px;
    border-radius: 6px 6px 0px 0px;
    background-color:  white;
    position: absolute;
    bottom: calc(100% - 16px);
    right: 14px;
    
}
.placeCard-PTC {
    width: calc(100% - 14px) !important;
    height: 152px !important;
    height: 228px !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.placeCard-PTC:hover .showOnHover {
    opacity: 1;
}

.closeBtn-PTC {
    position: absolute;
    top: -14px !important;
    right: 25px !important;
    z-index: 100000;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.75;
}

.closeBtn-PTC:hover {
    opacity: 1;
    /* filter: brightness(85%); */
    transition: 0.2s;
}

.placeCard-PTC .popUp {
    background-color: white;
    /* height: 50px; */
    /* width: 200px; */
    color: red;
    border: 1px solid gainsboro;
    border-radius: 8px;
    transition: 0.3s;
    position: absolute;
    z-index: 1;
}

.placeCard-PTC .body-title {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 600;
    height: 22px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 32px;
}

.placeCard-PTC .body-info {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    height: 20px;
    overflow: hidden;
    /* color: rgb(102, 37, 183); */
    color: #7A7A7A;
    font-size: 12px;
    margin: 0px;
}

.placeCard-PTC .body-category {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 12px;
    color: #7A7A7A;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.placeCard-PTC .body-summary {
    height:  36px;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 12px;
    color: #4D4D4D;
    margin-top: 12px;
}

.placeCard-PTC .body-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 12px;
}
.body-details .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.body-details .detail p {
    font-size: 11px;
    font-weight: 400;
    color: #4D4D4D;
}
.body-details .detail span {
    font-size: 14px;
    color: #4D4D4D;
}
.detail.website {
    max-width: 200px;
}
.detail.website p {
    color: blue;
    cursor: pointer;
    font-weight: 400;
}

button.open-in-google-maps {
    padding: 4px 0px;
    /* border: 1px solid salmon; */
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
}
button.open-in-google-maps p {
    color: blue;
    font-weight: 400;
    font-size: 11px;
    margin: 0;
}
button.open-in-google-maps > .icon {
    height: 12px;
    object-fit: contain;
}

.placeCard-PTC .right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    min-width: 184px;
    /* for "added to saved places" */
    min-width: 202px; 
}
.placeCard-PTC .imgDiv {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    overflow: hidden;
    
}
.placeCard-PTC .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.rating .score-text {
    margin: 0;
    font-size: 12px;
    color: #7A7A7A;
}

.rating .star-img {
    width: 10px;
    height: 10px;
    object-fit: contain;
}

.add-place-btn {
    background-color: #F0EFFF;
    color: #6663FC;
    border-radius: 4px;
    padding: 6px 14px 6px 8px !important;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin: 0 0 0 auto;
    transition: 0.2s;
    cursor: pointer;

    border-radius: 14px !important;
    
}
.add-place-btn p,
.added-place-btn p {
    margin: 0;
    font-size: 12px;
}

.add-place-btn:hover {
    background-color: #E7E6F2;
    transition: 0.2s;
}

.added-place-btn {
    background-color: #E7F6DD;
    color: #6663FC;
    border-radius: 4px;
    padding: 6px 14px 6px 8px !important;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin: 0 !important;
    border-radius: 14px !important;
}
.add-saved-btn {
    background-color: white;
    color: #6663FC;
    border-radius: 4px;
    outline: 1px solid #6663FC;
    box-sizing: border-box;
    padding: 6px 14px 6px 8px !important;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin: 0 0 0 auto;
    transition: 0.2s;
    cursor: pointer;

    border-radius: 14px !important;
    
}
.add-saved-btn p,
.added-saved-btn p {
    margin: 0;
    font-size: 12px;
}

.add-saved-btn:hover {
    background-color: #E7E6F2;
    transition: 0.2s;
}

.added-saved-btn {
    /* background-color: #E7F6DD; */
    color: #6663FC;
    border-radius: 4px;
    padding: 6px 14px 6px 8px !important;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin: 0 !important;
    border-radius: 14px !important;
}


/* placeCard2 styles */
.placeCard2 {
    /* width: 100%; */
    min-width: 410px;
    height: 130px;
    border-bottom: 2px solid gainsboro;
    background-color: white;
    overflow: hidden;
    transition: 0.3s;
    padding: 12px 12px;
    margin-bottom: 12px;
}

.placeCard2-body {
    display: flex;
    flex-direction: column;
    padding: 8px 0px 12px 16px;
    overflow: hidden;
}

.placeCard2 .body-title {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 600;
    height: 24px;
    overflow: hidden;
    margin: 0px;
}
.placeCard2 .body-category {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 14px;
    color: #7A7A7A;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.placeCard2 .body-info {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    height: 20px;
    overflow: hidden;
    color: #7A7A7A;
    font-size: 12px;
    margin: 0px;
}
.placeCard2 .body-address {
    height: 36px;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 12px;
    color: #4D4D4D;
    margin-top: 4px;
    margin-bottom: 4px;
}
.placeCard2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.placeCard2.gone {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    padding: 0px 12px;
    border-bottom: none;
}

.placeCard2.shown {
    height: 130px;
    margin-bottom: 12px;
    padding: 12px;
    border-bottom: 2px solid gainsboro;
    opacity: 1;
    transition-duration: 0s;
}

.placeCard2.collapse {
    height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* display: none; */
    border-bottom: none;
}

.placeCard2-placeholder {
    height: 167.6px;
    width: 100%;
    transition-duration: 0s;
}

.placeCard2-placeholder.hidden {
    height: 0px;
}

.placeCard2 .side-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 36px;
}







/* opening hours map styles */
.days {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-top: 2px;
    min-width: 240px;
}
.days > p {
    white-space: nowrap;
    /* margin: 0px 4px; */
}
.day-circle {
    height: 16px;
    width: 16px;
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}
.day-circle p {
    margin: auto;
    color: #7A7A7A;
}
.day-circle:hover,
.day-circle.selected {
    background-color: rgb(207, 211, 244);
    transition: 0.2s;
}
.day-circle:hover p,
.day-circle.selected p {
    color: navy;
}
.openingHours {
    transition: 0.4s;
    width: 98px;
    overflow: hidden;
    width: 0;
    opacity: 0.5;
    margin: 0;
}
.openingHours.closed {
}