p {
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 84px 0;
    gap: 36px
}
.section.light-padding {
    padding: 36px;
}

.page-title-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: auto;
}
.page-title-box.thin .page-subtitle {
    width: 80%;
}

.page-title {
    font-size: 40px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    margin: auto;
    text-align: center;
}

.page-title.darkpurple {
    color: #0F0680;
}

.page-title.black {
    color: black;
}

.page-title.mobile {
    font-size: 24px;
}

.page-subtitle {
    font-family: 'Plus Jakarta Sans' serif;
    color: gray;
    font-size: 18px;
}

.featuredTrips {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.gif {
    width: 75%;
    border-radius: 36px;
}

.addplaces-screenshot {
    border-radius: 24px !important;
}