:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

/* div{
  color: #242424;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  font-family: 'Plus Jakarta Sans';
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button p {
  color: white;
}

/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#roots {
  width: 100%;
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
}
.border-box{
  box-sizing: border-box;
}
.flx {
  display: flex;
}

.flx-r {
  display: flex;
  flex-direction: row;
}
.flx-r-respond768{
  display: flex;
  flex-direction: row;
}

.flx-c {
  display: flex;
  flex-direction: column;
}

.flx-1 {
  flex: 1;
}

.flx-2 {
  flex: 2;
}

.flx-3 {
  flex: 3;
}

.flx-4 {
  flex: 4;
}

.flx-5 {
  flex: 5;
}

.flx-6 {
  flex: 6;
}

.flx-7 {
  flex: 7;
}

.flx-8 {
  flex: 8;
}

.flx-9 {
  flex: 9;
}

.flx-10 {
  flex: 10;
}

.flx-wrap {
  flex-wrap: wrap;
}

.just-se {
  justify-content: space-evenly;
}

.just-ce {
  justify-content: center;
}

.just-sb {
  justify-content: space-between;
}

.just-en {
  justify-content: end;
}

.material-symbols-outlined {
  color: #242424;
}

.dark-text {
  color: #242424;
}

.black-text {
  color: black;
}

.white-text {
  color: rgb(255, 255, 255);
}


.pt-3h {
  padding-top: 20px;
}


.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.m-auto {
  margin: auto;
}

.center {
  display: block;
  margin: auto;
}

.right {
  float: right;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.x-small {
  font-size: x-small;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.xxx-large {
  font-size: 72px;
}

.w-1 {
  width: 100px;
}

.w-1h {
  width: 150px;
}

.w-2 {
  width: 200px;
}

.w-2h {
  width: 250px;
}

.w-3 {
  width: 300px;
}

.w-3h {
  width: 350px;
}

.top-128 {
  top: 128px;
}


.w-25 {
  width: 25%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-96 {
  width: 96%;
}

.w-97 {
  width: 97%;
}

.w-98 {
  width: 98%;
}

.w-100 {
  width: 100%;
}


.white-bg {
  background-color: white;
}

.five {
  background-color: antiquewhite;
}

.six {
  background-color: lightblue;
}

.seven {
  background-color: lightpink;
}

.eight {
  background-color: azure;
}

.nine {
  background-color: aquamarine;
}

.small-pic {
  width: 40px;
  object-fit: contain;
}

.med-pic {
  width: 75px;
  object-fit: contain;
}

.large-pic {
  width: 120px;
  object-fit: contain;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}


.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: #007ACC;
}

.bg-purple {
  background-color: #3b3774;
}

.bg-lightpurple {
  background-color: #6663FC;
}

.bg-fbblue {
  background-color: #3F52E3;
}

.bg-gains {
  background-color: gainsboro;
}


.grabber {
  cursor: grab;
}

.pointer {
  cursor: pointer;
}

.navbar {
  height: 85px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  z-index: 200;
}

.nav-link {
  color: #646CFF;
}

.nav-link:hover {
  color: #529aff;
}

.right-btns {
  margin-right: 5%;
}

.profile-icon {
  border: 3px solid black;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
}

.user-options-popup {
  background-color: white;
  top: 30px;
  height: 100px;
  width: 80px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #F0EFFF;
}

.redBox {
  width: 100%;
  height: 600px;
  background-color: red;

}

.carousel-window {
  width: 564px;
  height: 614px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  overflow: hidden;
  background-color: white;

}

.carousel2-window {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: 0.3s;
  /* transform: translateX(-464px); */
  display: flex;
  flex-direction: row;
}

.inner-no-flex {
  white-space: nowrap;
  transition: 0.3s;
  /* transform: translateX(-350px); */
}

.inner2 {
  white-space: nowrap;
  transition: 4.0s ease;
  /* transform: translateX(-100%); */
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-vcenter {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);

}

.abs-bottom-10 {
  bottom: 10px;
}

.abs-bottom-30 {
  bottom: 30px;
}

.abs-bottom8 {
  bottom: 8%;
}

.hero-title {
  font-size: 60px;
}

.heroFade-img{
  width: 100%;
  height: calc(100vh - 85px);
  /* height: 610px; */
  object-fit: cover;
  transition: 1.0s;
}
.heroFadeContainer .placeholder {
  width: 100%;
  height: calc(100vh - 85px);
  /* height: 610px; */
}
#fade{
  transition: 2s;
}
.sign-in-box {
  width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  /* background-color: white; */
}

.sign-up-box {
  width: 500px;
  height: 550px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.25); */
  /* border-radius: 24px; */
  padding: 32px;
  /* background-color: white; */
  /* overflow: hidden; */
}

.sign-up-part2 {
  background-color: white;
  width: 500px;
  height: 550px;
  padding: 32px;
  align-items: center;
  border-radius: 24px;
  margin-top: 25px;
  z-index: 1001;
  position: absolute;
}

.sign-up-loading {
  background-color: white;
  width: 500px;
  height: 550px;
  padding: 32px;
  border-radius: 24px;
  margin-top: 25px;
  position: absolute;
  z-index: 1002;
  overflow: hidden;
}

.loadingBox {
  background-color: white;
  /* width: 500px; defined in element style {{}} */
  /* height: 550px; define in element style {{}} */
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  /* margin-top: 25px; */
  position: absolute;
  z-index: 1002;
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalTop {
  position: fixed;
  z-index: 1000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
.overlay-white {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99999;
}

.routewise-logo {
  height: 45px;
  /* margin-left: 5%; */
}

.vertical-logo {
  width: 100px;
}

.model-link {
  color: transparent;
}

.model-btn {
  opacity: 0;
}

.model-btn:hover {
  opacity: 1;
}

.bird-logo {
  width: 70px;
}

.word-logo {
  width: 240px;
}

.input-model-title {
  text-align: left;
  width: 360px;
}

.input-model {
  height: 40px;
  width: 360px;
  border-radius: 8px;
  border: 2px solid gainsboro;
  font-size: medium;
  color: black;
  background-color: rgba(225, 225, 225, 0.0);
  padding-left: 12px;
  transition-duration: 0.3s;
}

.input-model:hover {
  border: 2px solid gray;
  box-shadow: 0px 0px 25px rgba(63, 125, 216, 0.15);
  transition-duration: 0.3s;
}

.form-input2 {
  border: none;
  color: black;
  border-bottom: 2px solid rgba(32, 32, 32, 0.75);
  font-size: medium;
  padding-left: 6px;
  height: 30px;
  transition-duration: 0.4s;
  background-color: #f7f6ff;
}

.form-input2:hover {
  box-shadow: 0 4px 8px rgba(140, 197, 243, 0.5);
  border-bottom: 2px solid rgb(108, 108, 108);
  transition-duration: 0.2s;
  padding-left: 10px;
  background-color: rgba(245, 245, 245, 0.8);
}

.h-100 {
  height: 100%;
}
.h60{
  height: 36px;
  overflow: hidden;
}

.searchBar {
  height: 70px;
  /* overflow: hidden; */
}

.input-search-map-overlay {
  height: 44px;
  /* width: calc(90% - 64px); */
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid gray;
  font-size: medium;
  background-color: white;
  padding-left: 36px;
  padding-right: 42px;
  transition-duration: 0.3s;
  top: 16px;
  left: 64px;
  right: 64px;
}

.input-search-map-overlay2 {
  height: 44px;
  width: calc(100% - 16px);
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid gray;
  font-size: medium;
  background-color: white;
  padding-left: 36px;
  padding-right: 42px;
  transition-duration: 0.3s;
  top: 16px;
  left: 16px;
}

.flowBox-searchBar {
  height: 44px;
  width: calc(100% - 6px);
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid gray;
  font-size: medium;
  background-color: white;
  padding-left: 36px;
  padding-right: 42px;
  transition-duration: 0.3s;
  top: 16px;
  left: 6px;
}

.flowBox-location-icon-placeholder {
  opacity: 0.5;
  top: 25px;
  left: 16px;
  z-index: 1;
}

.location-icon-placeholder {
  opacity: 0.5;
  top: 25px;
  left: 72px;
  z-index: 1;
}

.search-icon-overlay {
  opacity: 0.5;
  top: 22px;
  right: calc(2% + 64px);
  font-size: xx-large;
  z-index: 1;
  transition: 0.3s;
}

.search-icon-overlay2 {
  opacity: 0.5;
  top: 22px;
  right: 12px;
  font-size: xx-large;
  z-index: 1;
}

.mapSearch-dropdown {
  position: absolute;
  background-color: white;
  width: calc(90% - 64px);
  /* height: 240px; */
  top: 60px;
  left: 64px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.flowBox-search{
  position: absolute;
  background-color: white;
  /* border: 2px solid red; */
  width: 100%;
  /* height: 50px; */
  top: 60px;
  left: 6px;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.btn-model {
  width: 320px;
  height: 55px;
  border-radius: 12px;
  border: 1px solid gainsboro;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-model2 {
  width: 380px;
  height: 55px;
  border-radius: 12px;
  border: 2px solid #6663FC;
  transition: 0.3s;
}

.btn-model2:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.btn-outlineflex {
  padding: 11px 20px;
  background-color: white;
  color: #6663FC;
  border-radius: 8px;
  border: 2px solid #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-outlineflex:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #E7E6F2;
  transition: 0.3s;
}

.btn-outlineflex:active {
  /* filter: brightness(85%); */
  background-color: #B2AFD6;
}

.btn-secondaryflex {
  padding: 12px 20px;
  color: white;
  font-size: large;
  border-radius: 8px;
  /* border: 2px solid #6663FC; */
  background-color: #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-secondaryflex:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #3F3899;
  transition: 0.3s;
}

.btn-secondaryflex:active {
  /* filter: brightness(85%); */
  background-color: #0F0680;
}

.btn-primaryflex2 {
  padding: 16px 32px;
  color: white;
  border-radius: 8px;
  /* border: 2px solid #6663FC; */
  background-color: #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.gray-text {
  color: gray;
}

.btn-primaryflex2:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #3F3899;
  transition: 0.3s;
}

.btn-primaryflex2:active {
  /* filter: brightness(85%); */
  background-color: #0F0680;
}

.btn-primaryflex-disabled {
  padding: 12px 20px;
  color: #8E8E8E;
  border-radius: 8px;
  /* border: 2px solid #6663FC; */
  background-color: #DBDBDB;
  transition: 0.3s;
  cursor: default;
  white-space: nowrap;
}

.btn-primaryflex-disabled span {
  color: gray;
}

.btn-carousel-special {
  padding: 12px 20px;
  color: white;
  border-radius: 8px;
  /* border: 2px solid #6663FC; */
  background-color: #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-carousel-special:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #3F3899;
  transition: 0.3s;
}

.btn-carousel-special:active {
  /* filter: brightness(85%); */
  background-color: #0F0680;
}

.btn-primaryflex {
  padding: 12px 20px;
  color: white;
  border-radius: 8px;
  /* border: 2px solid #6663FC; */
  background-color: #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-primaryflex:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #3F3899;
  transition: 0.3s;
}

.btn-primaryflex:active {
  /* filter: brightness(85%); */
  background-color: #0F0680;
}

.btn-primaryflex-overlay {
  padding: 11.5px 20px;
  color: white;
  border-radius: 0px 8px 8px 0px;
  /* border: 2px solid #6663FC; */
  background-color: #6663FC;
  transition: 0.3s;
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 0;
  white-space: nowrap;
}

.btn-primaryflex-overlay:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #3F3899;
  transition: 0.3s;
}

.btn-primaryflex-overlay:active {
  /* filter: brightness(85%); */
  background-color: #0F0680;
}

.btn-outline {
  width: 380px;
  background-color: white;
  height: 55px;
  color: #6663FC;
  border-radius: 12px;
  border: 2px solid #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-outline:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #E7E6F2;
  transition: 0.3s;
}

.btn-outline:active {
  /* filter: brightness(85%); */
  background-color: #B2AFD6;
}

.btn-primary {
  width: 380px;
  height: 55px;
  color: white;
  border-radius: 12px;
  /* border: 2px solid #6663FC; */
  background-color: #6663FC;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-primary:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  background-color: #3F3899;
  transition: 0.3s;
}

.btn-primary:active {
  /* filter: brightness(85%); */
  background-color: #0F0680;
}

.hover-left:hover {
  transform: translateX(-5px);
}

.hover-right:hover {
  transform: translateX(5px);
}

.red-text {
  color: red;
}
.red-bg{
  background-color: red;
}
.blend-bg{
  background-color: rgb(245, 245, 245);
}

.bold500 {
  font-weight: 500;
}

.bold700 {
  font-weight: 700;
}

.purple-text {
  color: #6663FC;
}

.btn-model:hover {
  /* filter: brightness(95%); */
  /* transform: translateY(-5px); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.btn-icon-left {
  position: absolute;
  width: 23px;
  left: 25px;
}

.inputBox {
  position: relative;
}

.inputBox .title {
  position: absolute;
  left: 4px;
  /* padding-left: 12px; */
  /* padding-top: 6px; */
  /* padding: 0 8px; */
  margin-top: 10px;
  margin-left: 8px;
  color: gray;
  pointer-events: none;
  transition-duration: 0.3s;
}

.inputBox:hover .title {
  color: black;
  transition-duration: 0.3s;
}

.input-model:focus {
  outline: none;
  border: 2px solid #6663FC;

}

.input-model:valid~.title,
.input-model:focus~.title {
  color: #6663FC;
  transform: translateY(-20px);
  font-size: small;
  font-weight: 600;
  height: 12.5px;
  background-color: white;
  margin-left: 4px;
  padding: 0 8px;
}

.h-1 {
  height: 1px;
}

.align-c {
  align-items: center;
}

.align-l {
  align-items: start;
}

.align-r {
  align-items: end;
}

.aligns-c {
  align-self: center;
}

.aligns-l {
  align-self: self-start;
}

.aligns-r {
  align-self: self-end;
}

.password-collapsible {
  height: 0px;
  transition: 0.3s ease;
}

#password-input {
  transition: 0.3s;
}

input {
  color: black;
  background-color: red;
}

.icon-right {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  right: 10px;
  top: 4px;
  transition: 0.3s;

}

.icon-right:hover {
  background-color: rgb(245, 245, 245);
  transition: 0.3s;
}

.icon-right:active {
  background-color: gainsboro;
}

.icon-xsmall {
  width: 20px;
}

.color-black {
  color: black;
}

.color-gray {
  color: gray;
}

.color-gains {
  color: gainsboro;
}

.border-right {
  border-right: 1px black solid;
}

.border-black {
  border: 1px solid black;
}

.border-gray {
  border: 1px solid gray;
}

.border-gains {
  border: 1px solid gainsboro;
}

.border-red {
  border: 1px solid red;
}

.border-red2 {
  border: 2px solid red;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 18px;
  z-index: 100000;
  cursor: pointer;
  transition: 0.2s;
}

.closeBtn:hover {
  /* opacity: 0.75; */
  filter: brightness(85%);
  transition: 0.2s;
}

.closeBtn2 {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.closeBtn2:hover {
  /* opacity: 0.75; */
  filter: brightness(85%);
  transition: 0.2s;
}

.remove-btn {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
}

.bg-seethru {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.dateBox{
  background-color: gainsboro;
  /* width: 160px; */
  text-align: center;
  border-radius: 4px;
}

h1 {
  font-family: 'Plus Jakarta Sans';
  color: #242424;
}

p {
  font-family: 'Plus Jakarta Sans';
  color: #242424;
}

.font-jakarta {
  font-family: 'Plus Jakarta Sans';
}

.load-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  border: 6px solid #E7E6F2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top-color: #6663FC;
  border-left-color: #6663FC;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero-img {
  width: 100%;
}

.page-title {
  font-size: xxx-large;
}

.page-heading {
  font-family: 'Plus Jakarta Sans';
  font-size: 40px;
  font-weight: 500;
}
.landing-title{
  font-family: 'Plus Jakarta Sans';
  font-size: 36px;
  font-weight: 700;
}

.page-heading-bold {
  font-family: 'Plus Jakarta Sans';
  font-size: 40px;
  font-weight: 700;
}

.page-subheading {
  font-family: 'Plus Jakarta Sans';
  font-size: 30px;
  font-weight: 500;
}

.page-subheading-bold {
  font-family: 'Plus Jakarta Sans';
  font-size: 30px;
  font-weight: 700;
}

.page-subsubheading {
  font-family: 'Plus Jakarta Sans';
  font-size: 24px;
  font-weight: 500;
}

.page-subsubheading-bold {
  font-family: 'Plus Jakarta Sans';
  font-size: 24px;
  font-weight: 700;
}

.gray-box {
  width: 96%;
  height: 650px;
  background-color: gainsboro;
  border-radius: 12px;
}
.gray-box-respond {
  width: 96%;
  height: 650px;
  background-color: gainsboro;
  border-radius: 12px;
}


.page-text {
  font-size: large;
}
.landing-text{
  font-size: large;
  font-weight: 500;
}

.card3 {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  padding: 0;
  margin-right: 50px;
}

.card3-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.card3-img:hover {
  filter: brightness(80%);
  transition: 0.3s;
}

.model-overlay {
  left: 12px;
  top: 150px;
  opacity: 0;
  transition: 0.3s;
}

.card3:hover .model-overlay {
  opacity: 1;
  transition: 0.3s;
}

.card3-text {
  padding: 12px;
}

.card3-title {
  font-size: xx-large;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0;
}

.card-img {
  width: 100%;
  border-radius: 12px;
}

.card-text {
  padding: 12px;
}

.card-title {
  font-size: x-large;
  color: #242424;
}

.card2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 0;
  align-items: center;
  border: 3px solid gainsboro;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.card2-selected {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 0;
  align-items: center;
  border: 3px solid #D1CDF0;
  border-radius: 8px;
  background-color: #F0EFFF;
  cursor: pointer;
  transition: 0.2s;
}

.card2:hover {
  filter: brightness(95%);
  transition: 0.2s;
}

.card2:active {
  filter: brightness(85%);
}

.green-checkbox {
  width: 30px;
  height: 30px;
  background-color: #55ca46;
  border-radius: 18px;
  display: flex;
  position: absolute;
  top: 12px;
  right: 14px;
}

.card2-img {
  width: 60%;
  /* border-radius: 12px; */
}

.card2-text {
  /* padding: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  width: 100%;
}

.card2-title {
  font-size: x-large;
}

.card4-img {
  width: 100%;
  height: 30vw;
  object-fit: contain;
}

.card5{
  border: 1px solid rgb(190, 190, 190);
  width: 250px;
  /* height: 225px; */
  height: 290px;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
}

.imgBorder {
  border: 3px solid gainsboro;
  border-radius: 12px;
}

.tripModal-img {
  width: 376px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.add-places-card {
  background-color: rgb(245, 245, 245);
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  height: 150px;
  justify-content: center;
}

.placeCard-PTC {
  /* width: 97%; */
  height: 150px;
  border: 2px solid gainsboro;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
}

.placeCard-PTC:hover .showOnHover {
  opacity: 1;
}

.placeCard {
  /* width: 100%; */
  height: 130px;
  border: 2px solid gainsboro;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
  transition: 0.3s;
}

.placeCard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeCard-body {
  padding-left: 16px;
}

.showOnHover {
  opacity: 0;
  transition: 0.3s;
}

.onHover-50 {
  opacity: 0;
  transition: 0.2s;
}

.placeCard:hover .onHover-50:hover {
  opacity: 0.35;
  transition: 0.2s;
}

.placeCard .popUp {
  background-color: white;
  /* height: 50px; */
  /* width: 200px; */
  border: 1px solid gainsboro;
  border-radius: 8px;
  transition: 0.3s;
  position: absolute;
  z-index: 1;
}

.placeCard-PTC .popUp {
  background-color: white;
  /* height: 50px; */
  /* width: 200px; */
  color: red;
  border: 1px solid gainsboro;
  border-radius: 8px;
  transition: 0.3s;
  position: absolute;
  z-index: 1;
}

.onHover-fade {
  transition: 0.2s;
  cursor: pointer;
}

.onHover-fade:hover {
  opacity: 0.35;
  transition: 0.2s;
}

.onHover-fadelite {
  transition: 0.2s;
  cursor: pointer;
}

.onHover-fadelite:hover {
  opacity: 0.75;
  transition: 0.2s;
}

.onHover-black {
  transition: 0.2s;
  cursor: pointer;
}

.onHover-black:hover {
  filter: brightness(0%);
  transition: 0.2s;
}

.onHover-option {
  transition: 0.2s;
  cursor: pointer;
}

.onHover-option:hover {
  background-color: rgb(240, 240, 240);
  transition: 0.2s;
}

.placeCard:hover .onHover-50 {
  opacity: 0.5;
  transition: 0.2s;
}

.star-empty {
  width: 20px;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

.star-empty:hover {
  opacity: 0.3;
  transition: 0.2s;
}

.star-full {
  filter: brightness(115%);
  width: 20px;
  cursor: pointer;
}

#test-color {
  color: #FFC107;
}

.body-section {
  height: 650px;
}

.placeCards {
  height: 540px;
  /* overflow: scroll; */
}

.body-title {
  font-family: 'Plus Jakarta Sans';
  font-size: x-large;
  font-weight: 600;
  height: 34px;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 0px;
}

.body-info {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  height: 24px;
  overflow: hidden;
  color: rgb(102, 37, 183);
  font-size: medium;
  margin-top: 0px;
}

.body-address {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: medium;
  color: gray;
}

.body-address-PTC {
  height: 48px;
  /* border: 1px solid red; */
  overflow: hidden;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: medium;
  color: gray;
}

.empty-star {
  filter: invert() brightness(70%);
  width: 30px;
}

.flx-end {
  align-items: flex-end;
}

.page-container80 {
  width: 80%;
  margin: auto;
}

.page-container90 {
  width: 90%;
  margin: auto;
}

.page-container96 {
  width: 96%;
  margin: auto;
}

.page-container98 {
  width: 98%;
  margin: auto;
}

.progress-bar-container {
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  left: 3%;
  top: 0;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  height: 140px;
}

.progress-bar {
  position: relative;
}

.progress-bar-empty {
  height: 12px;
  /* width: 93%; */
  background-color: #E7E6F2;
  left: 44px;
  right: 44px;
  position: absolute;
  top: 9px;
  z-index: -2;
}

.progress-bar-full {
  height: 12px;
  /* width: 0%; */
  background-color: #3F3899;
  left: 40px;
  right: 100%;
  position: absolute;
  top: 9px;
  z-index: -1;
  border-radius: 6px;
  transition: 1.0s ease;
}

#progress-checkmark {
  transition: 0.5s;
}

#progress-checkmark2 {
  transition: 0.5s;
}

#test {
  /* width: 0px;
  height: 0px; */
  /* background-color: #3F3899; */
  transition: 0.2s;
}

.node-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.progress-bar-node-flex {
  width: 0px;
  height: 0px;
  border-radius: 16px;
  background-color: #3F3899;
  margin: auto;
  transition: 0.3s;
  display: flex;
}

.progress-bar-node {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  background-color: #3F3899;
  display: flex;
}

.progress-bar-node-empty {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  background-color: #E7E6F2;
}


.selection-box {
  background-color: #F0EFFF;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  /* height: 200px; */
  border-radius: 12px;
  margin: auto;
}

.box-title {
  font-size: 36px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
}

.box-heading {
  font-size: x-large;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
}

.input-normal {
  height: 50px;
  width: 95%;
  border-radius: 8px;
  /* border: none; */
  border: 2px solid gainsboro;
  padding-left: 16px;
  font-size: large;
}

.input-normal2 {
  height: 50px;
  width: 92%;
  border-radius: 8px;
  border: 2px solid gainsboro;
  padding-left: 16px;
  font-size: large;
}


.map {
  height: 300px;
  width: 100%;
  background-color: gainsboro;
  border-radius: 12px;
}

.nameTrip-box {
  background-color: white;
  width: 450px;
  height: 500px;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.specifyCity-box {
  background-color: white;
  width: 450px;
  height: 300px;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.itinerary-c1 {
  width: 30px;
  border-right: 2px solid gainsboro;
  transition: 0.3s;
}

.itinerary-c3 {
  flex: 1;
  transition: 0.5s;
}

.itinerary-c3-respond {
  /* flex: 1; */
  width: 30px;
  background-color: #007ACC;
  transition: 0.5s;
}

.map-panel {
  position: fixed;
  height: 80vh;
  width: 100%;
  bottom: 0;
  transition: 0.4s;
  /* background-color: white; */
  z-index: 201;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.map-panelContent {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.closeMap-btn {
  background-color: white;
  border-radius: 8px 8px 0 0;
  padding: 4px;
  display: flex;
  z-index: 2;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.05);
}

.panel-btns {
  position: fixed;
  padding: 8px 12px;
  border-radius: 8px 8px 0 0;
  bottom: 0;
  right: 0%;
  z-index: 2;
  background-color: #646CFF;
  /* box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); */
  transition: 0.3s;
  transform: translateY(0px);
}


.z-1 {
  z-index: 1;
}
.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

.z-10000 {
  z-index: 10000;
}

.day-date {
  width: 120px;
  margin: auto;
  color: gray;
  font-size: large;

}

.arrowToOpen {
  transition: 0.3s;
}

.arrowToClose {
  width: 166px;
}

.h-0 {
  height: 0px;
}

.flowBody-collapsible {
  /* height: min-content; */
  /* height: 500px; */
  transition: 0.5s;
}

.it-column1 {
  /* height: 100%; */
  transition: 0.3s;
}

.flow-header {
  background-color: #F0EFFF;
  padding: 8px 16px;
  border-radius: 12px;
}

.flow-box {
  margin-top: 15px;
}

.flowBody {
  transition: 0.3s;
}

#expandArrow {
  /* transform: rotate(-90deg); */
  transition: 0.2s;
}

.td-2 {
  transition-duration: 0.2s;
}

.td-3 {
  transition-duration: 0.3s;
}

.td-4 {
  transition-duration: 0.4s;
}

.td-5 {
  transition-duration: 0.5s;
}

.input-special {
  width: 340px;
  background-color: transparent;
  border: none;
  font-size: large;
  font-family: 'Plus Jakarta Sans';
  color: gray;
  /* border-bottom: 2px solid gainsboro; */
}

.addPlace-expand {
  height: 30px;
  transition-duration: 0.2s;
}

.edit-overlay {
  position: absolute;
  left: 200px;
}

.btn-overlay-right {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 12px;
}

.bird-load-logo {
  width: 70px;
}

.block {
  display: block;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.mapBox {
  width: 500px;
  height: 500px;
}

.it-map {
  width: 96%;
  height: 100vh;
  background-color: gainsboro;
  border-radius: 12px;
}

.it-panelMap {
  width: 96%;
  height: 96%;
  background-color: gainsboro;
  border-radius: 12px;
  margin: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.card-model {
  border: 1px solid rgb(190, 190, 190);
  width: 250px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.cardModel-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.cardModel-text {
  padding: 12px;
}

.addIcon {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 10px;
  bottom: 34px;
  background-color: white;
}
.addIcon2 {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 10px;
  top: 60%;
  background-color: white;
}

.addIcon-small {
  border: 2px solid #6663FC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* right: 10px; */
  /* bottom: 34px; */
  background-color: transparent;
}

.suggestion-row {
  white-space: nowrap;
  /* overflow: scroll; */
  width: 400px;
}

.ws-nowrap {
  white-space: nowrap;
}

.inflex {
  display: inline-flex;
}

.hideOverFlow {
  overflow: hidden;
}

.hideOverflow {
  overflow: hidden;
}

.heroCarouselContainer {
  overflow: hidden;
}

.w-100vw {
  width: 100vw;
}

.imgFrame-12-5 {
  width: 100%;
  height: calc(100vw / 12 * 5);
  /* height: 50vw; */
  /* background-color: gray; */
  overflow: hidden;
  display: inline-flex;
  /* width: 100%; */
  /* justify-content: center; */
  align-items: center;
}


.dot-indicator {
  width: 20px;
}

.calendarInput {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid gainsboro;
  font-size: 16px;
  background-color: white;
  padding-left: 12px;
  transition-duration: 0.3s;
  color: gray;
  font-family: 'Plus Jakarta Sans';
}

.calendarInput2 {
  height: 50px;
  width: 92%;
  border-radius: 12px;
  border: 2px solid gainsboro;
  padding-left: 16px;
  font-size: large;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 0%;
  /* transform: translateX(-50%); */
  top: 40px;
  border-radius: 8px;
  /* border: 1px solid blue; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  z-index: 2000;
}
.item-dates{
  width: 360px;
}

.inputIcon-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.boxsize-border {
  box-sizing: border-box;
}

.placeToConfirmCard {
  z-index: 401;
  bottom: 16px;
  left: 6%;
  right: 4%;
}

#placeToConfirmCard,
#placeToConfirmCard-map-panel,
#daySelection, 
#daySelection-map-panel {
  /* transform: translateY(50px); */
  transition: 0.5s;
}

.daySelection {
  /* height: 280px; */
  width: 200px;
  background-color: white;
  border-radius: 12px;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 70px;
  right: 64px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dayOption {
  border: 3px solid rgb(190, 190, 190);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  width: 80%;
  color: gray;
  transition: 0.2s;
}

.dayOption:hover {
  background-color: #F0EFFF;
  border-color: #3F3899;
  color: #3F3899;
  transition: 0.3s;
}

.daySelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.daySelected-img {
  width: 85%;
  height: 115px;
  border-radius: 8px;
  object-fit: cover;

}

.daySelected-text {
  padding: 8px 16px;
  font-family: 'Plus Jakarta Sans';
  color: #242424;
}

.load-titleBar {
  background-color: rgb(235, 235, 235);
  height: 80px;
  width: 100%;
}

.load-img {
  height: 100%;
  width: 90%;
  background-color: rgb(235, 235, 235);
}

.load-text {
  background-color: rgb(235, 235, 235);
  height: 25px;
  width: 100%;

}

.suggestedPlacesHeading .info{
  background-color: white;
  width: 80%;
  /* height: 60px; */
  border-radius: 8px;
  z-index: 1;
  top: 40;
  left: 0;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.italic-placeholder::-webkit-input-placeholder {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
}

.bold-placeholder::-webkit-input-placeholder {
  font-weight: 600;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.v-align {
  vertical-align: middle;
}

.v-bott {
  vertical-align: bottom;
}

.v-tbott {
  vertical-align: text-bottom;
}

.v-ttop {
  vertical-align: text-top;
}

.v-top {
  vertical-align: top;
}

.v-bsl {
  vertical-align: baseline;
}

.v-super {
  vertical-align: super;
}

.empty {
  height: 25px;
}

.empty-2 {
  height: 50px;
}

.empty-3 {
  height: 75px;
}

.empty-4 {
  height: 100px;
}

.empty-5 {
  height: 125px;
}

.empty-6 {
  height: 150px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 25px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 5px;
}

.mt-1h {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-2h {
  margin-top: 11px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-3h {
  margin-top: 20px;
}

.mt-3hh {
  margin-top: 18px;
}

.mt-4 {
  margin-top: 25px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-h {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-1h {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-7 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-9 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.my-10 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-11 {
  margin-top: 120px;
  margin-bottom: 120px;
}
.my-12 {
  margin-top: 140px;
  margin-bottom: 140px;
}
.my-12-respond768{
  margin-top: 140px;
  margin-bottom: 140px;
}

.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-1h {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-3 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx-4 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-5 {
  margin-right: 25px;
  margin-left: 25px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-1h {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 25px;
}

.ml-5 {
  margin-left: 50px;
}
.ml-5-respond{
  margin-left: 50px;
}
.ml-6 {
  margin-left: 60px;
}

.ml-7 {
  margin-left: 70px;
}

.ml-8 {
  margin-left: 80px;
}

.ml5 {
  margin-left: 5%;
}

.ml10 {
  margin-left: 10%;
}

.ml15 {
  margin-left: 15%;
}

.ml20 {
  margin-left: 20%;
}

.ml25 {
  margin-left: 25%;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}
.mr-2-disappear768{
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 25px;
}

.mr-4h {
  margin-right: 35px;
}

.mr-5 {
  margin-right: 50px;
}

.mx-6 {
  margin-left: 40px;
  margin-right: 40px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 24px;
}

.pt-5 {
  padding-top: 30px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.p-0 {
  padding: 0px;
}

.pad8 {
  padding: 8px;
}

.pad16 {
  padding: 16px;
}

.pad2p {
  padding: 2%;
}
.pad28 {
  padding: 28px;
}
.pad28-respond {
  padding: 28px;
}
.pad10p{
  padding: 10%;
}
.pad20p{
  padding: 20%;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.hidden{
  opacity: 0;
  transition: 0.5s
}
.show {
  opacity: 1;
}

.d-none {
  display: none;
}

.o-none {
  opacity: 0;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}






.mr5 {
  margin-right: 5%;
}

.mx2 {
  margin-left: 2%;
  margin-right: 2%;
}

.mx3 {
  margin-left: 3%;
  margin-right: 3%;
}

.mx5 {
  margin-left: 5%;
  margin-right: 5%;
}

.mx10 {
  margin-left: 10%;
  margin-right: 10%;
}

.mt15-respond {
  margin-top: 15%;
}



.hero-text {
  font-size: x-large;
}

.flxstyle-respond {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.arrow {
  color: white;
}

.flx-r-respond {
  display: flex;
  flex-direction: row;
}

.prototype-menu{
  position: absolute;
  width: 200px;
  /* height: 200px; */
  background-color: white;
  border: 1px solid red;
  border-radius: 8px;
  top: 50px;
  left: 40px;
  overflow: hidden;
  z-index: 100;
  font-family: 'Plus Jakarta Sans';
  transition: 0.1s;
}
.prototype-menu .option{
  padding: 12px;
  width: 100%;
  color: #242424;
  box-sizing: border-box;
  transition: 0.2s;
}
.prototype-menu .option:hover{
  background-color: rgb(240, 240, 240);
  transition: 0.2s;
}
.smalltext-respond{
  font-size: large;
  color: #0F0680;
}
.planning-section{
  background-color: rgb(245, 245, 245);
}
.planning-section .text {
  font-size: 30px;
}
.page-card{
  width: 90%;
  margin: auto;
  background-color: #F0EFFF;
}
.page-card-img{
  width: 60%;
  object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  .planning-section .text {
    font-size: 24px;
  }
}


@media only screen and (max-width:1024px) {
  .hero-title {
    font-size: 42px;
  }
  .landing-title{
    font-size: 28px;
  }

  .flx-r-respond {
    flex-direction: column;
  }

  .places-list {
    width: 100%;
  }
  .gray-box-respond{
    width: 100%;
    height: 400px;
  }
  .ml-5-respond{
    margin-left: 30px;
  }
  .input-special{
    width: 250px;
  }
}

@media only screen and (max-width: 975px) {
  .hero-title {
    font-size: 32px;
  }
  .landing-title{
    font-size: 24px;
  }
  .planning-section .text {
    font-size: 18px;
  }

  .hero-text {
    font-size: large;
  }
  .mt15-respond {
    margin-top: 20%;
  }

  /* box */
  .box-title {
    font-size: 28px;
  }
  .page-card-title{
    font-size: 32px;
  }
  .page-card-text{
    font-size: 13px;
  }

  .item-location {
    flex: none;
    width: 100%;
    margin-bottom: 4%;
  }

  .item-dates {
    flex: none;
    width: 100%;
  }
  .smalltext-respond{
    font-size: small;
  }
  .smallertext975-respond {
    font-size: x-large;
  }
  .placeCount{
    font-size: small;
  }
}

@media only screen and (max-width: 768px) {
  .onHover-50 {
    opacity: 0.5;
  }
  .heroFade-img{
    width: 100%;
    height: calc(80vh - 85px);
    /* height: 610px; */
    object-fit: cover;
    transition: 1.0s;
  }
  .heroFadeContainer .placeholder {
    width: 100%;
    height: calc(80vh - 85px);
    /* height: 610px; */
  }
  
  

  .hover-left:hover {
    transform: none;
  }

  .hover-right:hover {
    transform: none;
  }

  .imgFrame-12-5 {
    height: 50vw;
  }

  .hero-title {
    font-size: x-large;
  }

  .hero-text {
    font-size: small;
  }

  .btn-primary,
  .btn-primaryflex,
  .btn-primaryflex2,
  .btn-outline,
  .btn-outlineflex,
  .btn-secondaryflex {
    padding: 12px 16px;
    font-size: medium;
  }
  .mr-2-disappear768 {
    margin-right: 0;
  }

  /* page text sizes */
  .page-title {
    font-size: xx-large;
  }
  .landing-title{
    font-size: 20px;
  }

  .page-heading {
    font-size: 30px;
  }

  .page-heading-bold {
    font-size: 30px;
  }

  .page-subheading {
    font-size: 24px;
  }

  .page-subheading-bold {
    font-size: 24px;
  }

  .page-subsubheading {
    font-size: 18px;
  }

  .page-subsubheading-bold {
    font-size: 18px;
  }

  .page-text {
    font-size: medium;
  }
  .landing-text{
    font-size: small;
  }

  .planning-section .text {
    font-size: 15px;
  }
  .pad28-respond {
    padding: 16px;
  }

  .flxstyle-respond {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  /* box */
  .selection-box {
    width: 100%;
    box-sizing: border-box;
    padding: 4%;
  }
  .flx-r-respond768{
    flex-direction: column;
  }
  .page-card-img{
    width: 50%;
  }
  .my-12-respond768{
    margin-top: 80px;
    margin-bottom: 0px;
  }


  /* itinerary */
  .itinerary-c1 {
    height: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    /* border-radius: 0 12px 0 0; */
    z-index: 2;
    padding-top: 75px;
  }
  .itinerary-c3{
    display: none;
  }
  .arrowToOpen{
    display: none;
  }


  /* footer classes */
  .bird-logo {
    width: 45px;
  }

  .word-logo {
    width: 144px;
  }

  .slogan {
    font-size: x-small;
  }
}




@media only screen and (max-width: 600px) {
  .routewise-logo {
    height: 30px;
  }

  /* hero section */
  .heroFade-img{
    width: 100%;
    height: calc(70vh - 85px);
    /* height: 610px; */
    object-fit: cover;
    transition: 1.0s;
  }
  .heroFadeContainer .placeholder {
    width: 100%;
    height: calc(70vh - 85px);
    /* height: 610px; */
  }

  .carousel-window {
    width: 90vw;
    height: 95vh;
  }
  /* sign-up-loading height must change to match carousel window? */
  

  .sign-up-box, .sign-in-box, .sign-up-loading, .sign-up-part2 {
    width: 90vw;
    padding: 12px 4px;
  }
  .input-model-title {
    text-align: center;
  }
  .ml-5-respond{
    margin-left: 40px;
  }


  .btn-primary {
    width: 270px;
  }

  .btn-outline {
    width: 270px;
  }

  .btn-model {
    width: 270px;
  }

  .btn-model2 {
    width: 270px;
  }

  .input-model {
    width: 250px;
  }

  .hr-block {
    width: 65%;
  }

  .hero-title {
    font-size: medium;
  }

  .hero-text {
    font-size: x-small;
  }

  .btn-primary,
  .btn-primaryflex,
  .btn-primaryflex2,
  .btn-outline,
  .btn-outlineflex,
  .btn-secondaryflex {
    padding: 12px 12px;
    font-size: small;
  }

  .dot-indicator {
    width: 10px;
  }

  /* cards */
  .card2 {
    width: 140px;
    height: 175px;
  }
  .card2-selected{
    width: 140px;
    height: 175px;
  }

  .card2-title {
    font-size: medium;
  }

  /* page text sizes */
  .page-title {
    font-size: x-large;
  }
  .landing-title{
    font-size: 14px;
  }
  .landing-text{
    font-size: x-small;
  }

  .page-heading {
    font-size: 24px;
  }

  .page-heading-bold {
    font-size: 24px;
  }

  .page-subheading {
    font-size: 20px;
  }

  .page-subheading-bold {
    font-size: 20px;
  }

  .page-subsubheading {
    font-size: 18px;
  }

  .page-subsubheading-bold {
    font-size: 18px;
  }

  .page-text {
    font-size: small;
  }
  .sign-up{
    font-size: small;
  }
  .planning-section .text {
    font-size: 11px;
  }
  .pad28-respond {
    padding: 10px;
  }

  /* box */
  .box-title {
    font-size: 22px;
  }

  /* modals */
  .nameTrip-box,
  .specifyCity-box {
    width: 300px;
  }

  .tripModal-img {
    width: 90%;
  }

  /* footer classes */
  .bird-logo {
    width: 40px;
  }

  .word-logo {
    width: 144px;
  }

  .slogan {
    font-size: x-small;
  }

  .username-text {
    font-size: small;
  }
}

.entry-error {
  border: 2px solid red;
}

.entry-error:valid {
  border: 2px solid gainsboro;
}

@media only screen and (max-width: 425px) {
  /* hero section */
  .heroFade-img{
    width: 100%;
    height: calc(60vh - 85px);
    /* height: 610px; */
    object-fit: cover;
    transition: 1.0s;
  }
  .heroFadeContainer .placeholder {
    width: 100%;
    height: calc(60vh - 85px);
    /* height: 610px; */
  }
  .carousel-window {
    width: 300px;
  }
  .mt15-respond {
    margin-top: 25%;
  }

  .calendarInput {
    font-size: 14px;
  }
  .ml-5-respond{
    margin-left: 20px;
  }
  .smalltext-respond{ 
    font-size: small;
    color: #3F3899;
  }

  h1 {
    font-size: xx-large;
  }

  .btn-icon-left {
    width: 18px;
  }

  .sign-up-box, .sign-in-box, .sign-up-loading, .sign-up-part2 {
    width: 300px;
    padding: 12px 4px;
  }
  #welcomeToRoutewise{
    font-size: x-large;
  }


  .btn-primary {
    width: 250px;
  }

  .btn-outline {
    width: 250px;
    font-size: small;
  }

  .btn-model {
    width: 250px;
  }

  .btn-model2 {
    width: 250px;
  }

  .input-model {
    width: 230px;
  }

  .hr-block {
    width: 80%;
  }

  .disappear425 {
    display: none;
  }

  /* cards */
  .card2 {
    width: 100px;
    height: 125px;
  }
  .card2-selected{
    width: 100px;
    height: 125px;
  }

  .card2-title {
    font-size: 12px;
  }

  /* inputs and overlays */
  .input-search-map-overlay {
    right: 30px;
  }

  .search-icon-overlay {
    right: 40px;
  }

  /* page text sizes */
  .page-title {
    font-size: large;
  }
  .landing-title{
    font-size: 10px;
  }
  .landing-text{
    font-size: 6px;
  }

  .page-heading {
    font-size: 24px;
  }

  .page-heading-bold {
    font-size: 24px;
  }

  .page-subheading {
    font-size: 20px;
  }

  .page-subheading-bold {
    font-size: 20px;
  }

  .page-subsubheading {
    font-size: 18px;
  }

  .page-subsubheading-bold {
    font-size: 18px;
  }

  .page-text {
    font-size: small;
  }
  .addPlace-text{
    font-size: small;
  }
  .sign-up{
    font-size: x-small;
  }
  .tripFlow{
    font-size: small;
  }
  .planning-section .text {
    font-size: xx-small;
  }
  .pad28-respond{
    padding: 4px;
  }

  /* box */
  .box-title {
    font-size: 22px;
  }
  .page-card-text{
    font-size: 10px;
  }
  

  /* modals */
  .nameTrip-box,
  .specifyCity-box {
    width: 240px;
  }

  .tripModal-img {
    width: 100%;
  }
  .carousel-window {
    height: 560px;
    padding-top: 10px;
  }

  /* pic sizes */
  .small-pic {
    width: 20px;
  }

  .med-pic {
    width: 38px;
  }

  .large-pic {
    width: 60px;
  }


  /* footer classes */
  .bird-logo {
    width: 30px;
  }

  .word-logo {
    width: 84px;
  }

  .slogan {
    font-size: 6px;
  }

  .username-text {
    font-size: x-small;
  }

  /* google icons */
  .arrow {
    font-size: small;
  }
}



@media only screen and (min-width: 425px) {
  .appear425 {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .panel-btns {
    display: none;
  }

  .map-panel {
    display: none;
  }
  

}

@media only screen and (max-width: 500px) {
  .input-special{
    width: 220px;
  }
  .placeCount{
    font-size: small;
  }
}

@media only screen and (max-width: 360px) {
  .calendarInput {
    font-size: 12px;
  }
}